body {
	font-family: garamond;
	padding: 0;
	margin: 0;
}

.header {
	border-bottom: 10px solid lightgray;
}

h1 { 
	color: #cc0066;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 4em;
	padding-top: 0.5em;
}

table {
	border-collapse: collapse;
}

#menu {
	background-color: #8F0047;
	vertical-align: top;
	text-align: left;
	padding: 1em 2em;
        width: 10em;
}

#menu :link, #menu :visited {
	color: white;
}

#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#menu li {
	padding-bottom: 1em;
}

#content {
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 30%;
}
